
@{
    ViewBag.Title = "AddCar";
    Layout = "~/Views/Shared/_LayoutOuterUser.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<script>

    $(document).ready(function(){
        $('select').on('change', function() {
            if(this.value != "0" || this.value != "")
                $(this).css('border-color','');
            else
                $(this).css('border-color','red');
        })


        $( "input,textarea" )
      .keyup(function() {
          var value = $( this ).val();
          if(value != "")
              $(this).css('border-color','');
          else
              $(this).css('border-color','red');
      })
        //.keyup();

    });

</script>
<div class="col-sm-7">
    <div class="map_contain">
        <div class="mngevnt_contain ">
            <div class="detail_head event_head prfl">
                <h4 class="detail_heading">Add New Car Here </h4>
            </div>
            <div class="describe_contain">
                <h4 class="seller_head">Car Images</h4>
                <div class="row">
                    <div class="col-sm-12">
                        <form action="UploadCarPic" method="post" enctype="multipart/form-data" id="uploadcarpic" name="frm1">
                            <div class="event_upload">
                                <ul>
                                    <li>
                                        <i class="flaticon1-arrows"></i>
                                        <a href="#" data-toggle="modal" class="event_upldnew" id="img" data-id="0" data-target="#imgcrop_modal"></a>
                                        Upload Main Car Image Here
                                        <img id="output0" class="upload_img" />
                                        <input type="hidden" id="hdoutput0" name="hdoutput0" />
                                    </li>
                                    <li>
                                        <i class="flaticon1-arrows"> </i>
                                        <a href="#" data-toggle="modal" class="event_upldnew" id="img1" name="img1" data-id="1" data-target="#imgcrop_modal"></a>
                                        Upload Car Image Here 2
                                        <img id="output1" class="upload_img" />
                                        <input type="hidden" id="hdoutput1" name="hdoutput1" value="" />
                                    </li>
                                    <li>
                                        <i class="flaticon1-arrows"> </i>
                                        <a href="#" data-toggle="modal" class="event_upldnew" id="img2" name="img2" data-id="2" data-target="#imgcrop_modal"></a>
                                        Upload Car Image Here 3
                                        <img id="output2" class="upload_img" />
                                        <input type="hidden" id="hdoutput2" name="hdoutput2" value="" />
                                    </li>
                                </ul>
                                <ul>
                                    <li id="input_file">
                                        <i class="flaticon1-arrows"> </i>
                                        <a href="#" data-toggle="modal" class="event_upldnew" id="img3" name="img3" data-id="3" data-target="#imgcrop_modal"></a>
                                        Upload Car Image Here 4
                                        <img id="output3" class="upload_img" />
                                        <input type="hidden" id="hdoutput3" name="hdoutput3" value="" />
                                    </li>
                                    <li>
                                        <i class="flaticon1-arrows"> </i>
                                        <a href="#" data-toggle="modal" class="event_upldnew" id="img4" name="img4" data-id="4" data-target="#imgcrop_modal"></a>
                                        Upload Car Image Here 5
                                        <img id="output4" class="upload_img" />
                                        <input type="hidden" id="hdoutput4" name="hdoutput4" value="" />
                                    </li>
                                    <li>
                                        <i class="flaticon1-arrows"> </i>
                                        <a href="#" data-toggle="modal" class="event_upldnew" id="img5" name="img5" data-id="5" data-target="#imgcrop_modal"></a>
                                        Upload Car Image Here 6
                                        <img id="output5" class="upload_img" />
                                        <input type="hidden" id="hdoutput5" name="hdoutput5" value="" />
                                    </li>
                                </ul>
                                <input type="hidden" id="addcarid" name="addcarid" value="20" />
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-12">
                        <h4 class="seller_head">Price Details</h4>
                    </div>
                    <input type="hidden" id="currency" />
                    <input type="hidden" id="currencyname" />

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Price</label>
                            <input type="number" class="form-control" placeholder="Price" id="price" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Listed as ?</label>
                            <select class="form-control slt_cstm" id="list" required>
                                <option value="">Listed as ?</option>
                                <option value="0">For Sale</option>
                                <option value="1">Garaged</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <h4 class="seller_head">Car Detail</h4>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Make</label>
                            <select class="form-control slt_cstm" id="make" onchange="loadModel(); loadBadge(); loadSeries(); loadengineSize();" required>
                                <option value="0">Make</option>

                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Model</label>
                            <select class="form-control slt_cstm" id="model" onchange="loadBadge(); loadSeries(); loadengineSize();" required>
                                <option value="0">Model</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Series</label>

                            <select class="form-control slt_cstm" id="badge" onchange="loadSeries(); loadengineSize();" required>
                                <option value="0">Select Series</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Badge</label>
                            <select class="form-control slt_cstm" id="series" onchange="loadengineSize();" required>
                                <option value="0">Select Badge</option>

                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Year</label>
                            <select class="form-control slt_cstm" id="year" required>
                                <option value="0">Year</option>
                                @for (int i = 1950; i <= DateTime.Now.Year; i++)
                                {
                                    <option value="@i">@i</option>
                                }

                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Condition</label>
                            <select class="form-control slt_cstm" id="condition" required>
                                <option value="0">Condition</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h4 class="seller_head">Interior &amp; Exterior </h4>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Body Type</label>
                            <select class="form-control slt_cstm" id="body_type" required>
                                <option value="0">Body Type</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Body Color</label>
                            <select class="form-control slt_cstm" id="bcolor" required>
                                <option value="0">Body Color</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Interior Color</label>
                            <select class="form-control slt_cstm" id="icolor" required>
                                <option value="0">Interior Color</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Interior Material</label>
                            <select class="form-control slt_cstm" id="material" required>
                                <option value="0">Interior Material</option>

                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <h4 class="seller_head">Engine and Transmission</h4>
                    </div>


                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Transmission</label>
                            <select class="form-control slt_cstm" id="trans" required>
                                <option value="0">Transmission</option>

                            </select>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Speed Type</label>
                            <select id="speedtype" class="form-control slt_cstm" required>
                                <option value="0">Speed Type</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Drivetrain</label>
                            <select class="form-control slt_cstm" id="drive" required>
                                <option value="0">Drivetrain</option>

                            </select>
                        </div>
                    </div>



                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Cylinders</label>
                            <select class="form-control slt_cstm" id="cylinder" required>
                                <option value="0">Cylinders</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Odometer</label>
                            <input type="number" id="meter" class="form-control" placeholder="Odometer" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Select Metric</label>
                            <select class="form-control slt_cstm" id="matrics" required>
                                <option value="0">Select Metric</option>

                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Engine Size</label>
                            <select class="form-control slt_cstm" id="engine" required>
                                <option value="0">Select Engine Size</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Select Fuel</label>
                            <select class="form-control slt_cstm" id="fuel" required>
                                <option value="0">Select Fuel</option>

                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Car Description</label>
                            <textarea placeholder="Car Description (Maximum 2000 Words)" class="form-control" id="descr" maxlength="4000" onkeyup='charLimit(this, 4000);'></textarea>
                        </div>
                    </div>
                    <script>
                        function charLimit(limitField, limitNum) {
                            if (limitField.value.length > limitNum) {
                                limitField.value = limitField.value.substring(0, limitNum);}
                        }


                    </script>
                    <div class="col-sm-12">

                        <div class="contact_desc">
                            <p>
                                Confirm the Above details with the buyer before commiting to any transactions.
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="map_btn">
                            <button class="cmn_btn" onclick="return SaveCar();">Save Car Detail </button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function SaveCar() {

        try {
            var isvalid = true;
            var imgisvalid = true;

            var img = $("#hdoutput0").val();
            var img1 = $('#hdoutput1').val();
            var img2 = $('#hdoutput2').val();
            var img3 = $('#hdoutput3').val();
            var img4 = $('#hdoutput4').val();
            var img5 = $('#hdoutput5').val();

            var price =  $("#price").val();
            if(price.trim() == ""){

                $('#price').css('border-color', 'red');
                /*  lnv.alert({
                      title: ' ',
                      content: 'Please Enter Price',
                      alertBtnText: 'Okay',
                      alertHandler: function () {
                          $("#price").focus();
                      }
                  })*/

                isvalid = false;
            }else{

                $('#price').css('border-color', '');
                isvalid = true;
            }

            var listedas = $("#list").val();
            if(listedas == ""){

                /*  lnv.alert({
                      title: ' ',
                      content: 'Please Select Listed As',
                      alertBtnText: 'Okay',
                      alertHandler: function () {
                          $("#list").focus();
                      }
                  })
                  */
                $('#list').css('border-color', 'red');
                isvalid = false;
            }else{

                $('#list').css('border-color', '');
                isvalid = true;
            }

            var make = $("#make").val();

            if(make == "0"){

                /*
                lnv.alert({
                    title: ' ',
                    content: 'Please Select Make',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#make").focus();
                    }
                })*/
                $('#make').css('border-color', 'red');
                isvalid = false;
            }else{

                $('#make').css('border-color', '');
                isvalid = true;
            }

            var model = $("#model").val();
            if(model == "0"){

                /*lnv.alert({
                    title: ' ',
                    content: 'Please Select Model',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#model").focus();
                    }
                })*/
                $('#model').css('border-color', 'red');
                isvalid = false;
            }else{

                $('#model').css('border-color', '');
                isvalid = true;
            }

            var badge = $("#badge").val();
            if(badge == "0"){

                /*lnv.alert({
                    title: ' ',
                    content: 'Please Select Series',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#badge").focus();
                    }
                })
                */
                $('#badge').css('border-color', 'red');
                isvalid = false;
            }else{

                $('#badge').css('border-color', '');
                isvalid = true;
            }

            var series = $("#series").val();
            if(series == "0"){

                /*lnv.alert({
                    title: ' ',
                    content: 'Please Select Badge',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#series").focus();
                    }
                })
                */
                $('#series').css('border-color', 'red');
                isvalid = false;
            }else{
                $('#series').css('border-color', '');
                isvalid = true;
            }

            var year = $('#year').val();
            if(year == "0"){

                /*  lnv.alert({
                      title: ' ',
                      content: 'Please Select Year',
                      alertBtnText: 'Okay',
                      alertHandler: function () {
                          $("#year").focus();
                      }
                  })*/
                $('#year').css('border-color', 'red');
                isvalid = false;
            }else{

                $('#year').css('border-color', '');
                isvalid= true;
            }

            var condition =$("#condition").val();
            if(condition == "0"){

                /*lnv.alert({
                    title: ' ',
                    content: 'Please Select Condition',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#condition").focus();
                    }
                })*/
                $('#condition').css('border-color', 'red');
                isvalid = false;

            }else{

                $('#condition').css('border-color', '');

                isvalid = true;
            }

            var bodytype = $("#body_type").val();
            if(bodytype == "0") {


                /* lnv.alert({
                     title: ' ',
                     content: 'Please Select Body Type',
                     alertBtnText: 'Okay',
                     alertHandler: function () {
                         $("#body_type").focus();
                     }
                 })*/
                $('#body_type').css('border-color', 'red');

                isvalid = false;

            }else{

                $('#body_type').css('border-color', '');
                isvalid = true;
            }

            var bcolor = $("#bcolor").val();
            if(bcolor == "0"){

                /*lnv.alert({
                    title: ' ',
                    content: 'Please Select Body Color',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#bcolor").focus();
                    }
                })*/
                $('#bcolor').css('border-color', 'red');
                isvalid = false;
            }else{
                $('#bcolor').css('border-color', '');
                isvalid = true;
            }

            var icolor = $('#icolor').val();
            if(icolor == "0"){

                /*
                lnv.alert({
                    title: ' ',
                    content: 'Please Select Interior Color',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#icolor").focus();
                    }
                })*/
                $('#icolor').css('border-color', 'red');
                isvalid = false;
            }else{

                $('#icolor').css('border-color', '');

                isvalid = true;
            }



            var material  = $("#material").val();
            if(material == "0") {

                /*
                lnv.alert({
                    title: ' ',
                    content: 'Please Select Interior Material',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#material").focus();
                    }
                })*/
                $('#material').css('border-color', 'red');
                isvalid = false;
            }else{

                $('#material').css('border-color', '');
                isvalid = true;
            }

            var trans = $("#trans").val();
            if(trans == "0"){

                /*
                lnv.alert({
                    title: ' ',
                    content: 'Please Select Transmission',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#trans").focus();
                    }
                })
                */
                $('#trans').css('border-color', 'red');
                isvalid = false;
            }else{

                $('#trans').css('border-color', '');
                isvalid = true;
            }

            var speedtype = $('#speedtype').val();
            if(speedtype == "0"){

                /*
                lnv.alert({
                    title: ' ',
                    content: 'Please Select Speed Type',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#speedtype").focus();
                    }
                })*/
                $('#speedtype').css('border-color', 'red');
                isvalid = false;
            }else{

                $('#speedtype').css('border-color', '');
                isvalid = true;
            }

            var drivetrain = $("#drive").val();
            if(drivetrain == "0"){

                /*
                lnv.alert({
                    title: ' ',
                    content: 'Please Select Drivetrain',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#drive").focus();
                    }
                })*/
                $('#drive').css('border-color', 'red');
                isvalid = false;
            }else{

                $('#drive').css('border-color', '');
                isvalid = true;
            }

            var cylinder = $('#cylinder').val();
            if(cylinder == "0"){

                /*
                lnv.alert({
                    title: ' ',
                    content: 'Please Select Cylinder',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#cylinder").focus();
                    }
                })*/
                $('#cylinder').css('border-color', 'red');
                isvalid = false;
            }else{

                $('#cylinder').css('border-color', '');
                isvalid = true;
            }


            var meter = $('#meter').val();
            if(meter.trim() == ""){

                /*
                lnv.alert({
                    title: ' ',
                    content: 'Please Enter Meter',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#meter").focus();
                    }
                })*/

                $('#meter').css('border-color', 'red');
                isvalid = false;
            }else{
                $('#meter').css('border-color', '');
                isvalid = true;

            }


            var matrics = $('#matrics').val();
            if(matrics == "0"){

                /*lnv.alert({
                    title: ' ',
                    content: 'Please Select Matrics',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#matrics").focus();
                    }
                })*/
                $('#matrics').css('border-color', 'red');
                isvalid = false;
            }else{

                $('#matrics').css('border-color', '');
                isvalid = true;
            }


            var engine = $('#engine').val();
            if(engine == "0"){

                /*lnv.alert({
                    title: ' ',
                    content: 'Please Select Engine',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#engine").focus();
                    }
                })*/

                $('#engine').css('border-color', 'red');
                isvalid = false;
            }else{
                $('#engine').css('border-color', '');
                isvalid = true;
            }
            var fuel = $('#fuel').val();
            if(fuel == "0"){

                $('#fuel').css('border-color', 'red');
                isvalid = false;
            }else{

                $('#fuel').css('border-color', '');
                isvalid = true;
            }
            var descr = $("#descr").val();
            if(descr.trim() == ""){


                $('#descr').css('border-color', 'red');
                isvalid = false;
            }else{
                $('#descr').css('border-color', '');
                isvalid = true;
            }


            var currency = "";
            if($("#currency").val() == ""){


                //$('#currency').css('border-color', 'red');
                //isvalid = false;

            }else{

                //$('#currency').css('border-color', '');
                //isvalid = true;

            }


            if(img == ""){

                lnv.alert({
                    title: '',
                    content: 'Please select main Image ',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#img").focus();
                    }
                });
                $('.alert-btn').focus();
                imgisvalid = false;
                $('.alert-btn').focus();
            }else if(img1 == ""){

                lnv.alert({
                    title: '',
                    content: 'Please select Image 2',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#img1").focus();
                    }
                });
                $('.alert-btn').focus();
                imgisvalid = false;
                $('.alert-btn').focus();
            }else if(img2 == ""){

                lnv.alert({
                    title: '',
                    content: 'Please select Image 3',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#img2").focus();
                    }
                });
                $('.alert-btn').focus();
                imgisvalid = false;
                $('.alert-btn').focus();
            }else if(img3 == "") {

                lnv.alert({
                    title: '',
                    content: 'Please select Image 4',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#img3").focus();
                    }
                });
                $('.alert-btn').focus();
                imgisvalid = false;
                $('.alert-btn').focus();
            }else if(img4 == ""){

                lnv.alert({
                    title: '',
                    content: 'Please select Image 5',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#img4").focus();
                    }
                });
                $('.alert-btn').focus();
                imgisvalid = false;
                $('.alert-btn').focus();
            }else if(img5 == ""){

                lnv.alert({
                    title: '',
                    content: 'Please select Image 5',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#img5").focus();
                    }
                });
                $('.alert-btn').focus();
                imgisvalid = false;
                $('.alert-btn').focus();
            }else if ($("#currency").val() == "" || descr.trim() == "" || fuel == "0" || engine == "0" || matrics == "0" || meter.trim() == "" || cylinder == "0" || drivetrain == "0" || speedtype == "0" || trans == "0" || speedtype == "0" || trans == "0" || material == "0" ||  icolor == "0" || bcolor == "0" || bodytype == "0" || condition == "0" || year == "0" || series == "0" || badge == "0" || model == "0" || make == "0" || listedas == "" || price.trim() == ""){


                lnv.alert({
                    title: ' ',
                    content: 'Please Update red cells',
                    alertBtnText: 'Okay',
                    alertHandler: function () {


                    }
                });
                $('.alert-btn').focus();
                isvalid = false;
            }
            if(isvalid == true && imgisvalid == true){

                var obj = {"make": $("#make").val() ,"model": $("#model").val() ,"badge": $("#badge").val() ,"series": $("#series").val() ,"price": $("#price").val() ,"currency": $("#currency").val()  ,"list": $("#list").val() ,"condition": $("#condition").val() ,"descr": $("#descr").val() ,"body_type": $("#body_type").val() ,"bcolor":  $("#bcolor").val() ,"icolor": $("#icolor").val() ,"year": $("#year").val() ,"material": $("#material").val() ,"transmition": $("#trans").val() ,"drive": $("#drive").val() ,"cylinder": $("#cylinder").val() ,"meter": $("#meter").val() ,"engine": $("#engine").val() ,"metrics": $("#matrics").val() ,"speedtype": $('#speedtype').val() ,"fuel":  $('#fuel').val() };
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Home/AddCar',
                    data: JSON.stringify(obj) ,

                    dataType: "json",
                    async: false,
                    success: function (response) {
                        if (response.status == "Success") {

                            var carid = response.carid;
                            $('#addcarid').val(carid);
                            if(carid==-1)
                            { lnv.alert({
                                title: ' ',
                                content: 'Your have already added 3 cars.',
                                alertBtnText: 'Okay'
                            });}
                            else
                            {
                                lnv.alert({
                                    title: ' ',
                                    content: 'Your listing has been submitted to the MYCARYARD team and you will be notify as soon your listing has been reviewed. Please Wait for a moment while the pictures are uploading.',
                                    alertBtnText: 'Okay',
                                    alertHandler: function () {

                                        $body = $("body");
                                        $body.addClass("loading");

                                        $('#uploadcarpic').submit();
                                    }
                                });
                            }
                            $('.alert-btn').focus();

                        } else {

                            //alert("Success" + response.error);

                        }
                    },
                    error: function (response) {

                        //alert(response.status);
                    }
                });
            }else{

            }
        }catch(e){

            console.log(e);
        }
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<script>
    var loadFile = function(event) {

        var fileUpload = $("#img")[0];

        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png|.gif)$");

        if (regex.test(fileUpload.value.toLowerCase())) {
            //Check whether HTML5 is supported.
            if (typeof (fileUpload.files) != "undefined") {
                //Initiate the FileReader object.
                var reader = new FileReader();
                //Read the contents of Image File.
                reader.readAsDataURL(fileUpload.files[0]);
                reader.onload = function (e) {
                    //Initiate the JavaScript Image object.
                    var image = new Image();
                    //Set the Base64 string return from FileReader as source.
                    image.src = e.target.result;
                    image.onload = function () {
                        //Determine the Height and Width.

                        var output = document.getElementById('output');
                        output.src = URL.createObjectURL(event.target.files[0]);




                        //alert("Uploaded image has valid Height and Width.");
                        return true;
                    };
                }
            } else {
                //alert("");
                lnv.alert({
                    title: '',
                    content: 'This browser does not support HTML5.',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#img").focus();
                    }
                });
                $('.alert-btn').focus();
                return false;
            }

        } else {
            // alert("Please select a valid Image file.");
            lnv.alert({
                title: '',
                content: 'Please select a valid Image ',
                alertBtnText: 'Okay',
                alertHandler: function () {

                    $("#img").focus();
                }
            });
            $('.alert-btn').focus();

            return false;
        }

    };
</script>
<script>
    var loadFile1 = function(event) {


        var fileUpload1 = $("#img1")[0];

        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png|.gif)$");

        if (regex.test(fileUpload1.value.toLowerCase())) {
            //Check whether HTML5 is supported.
            if (typeof (fileUpload1.files) != "undefined") {
                //Initiate the FileReader object.
                var reader = new FileReader();
                //Read the contents of Image File.
                reader.readAsDataURL(fileUpload1.files[0]);
                reader.onload = function (e) {
                    //Initiate the JavaScript Image object.
                    var image = new Image();
                    //Set the Base64 string return from FileReader as source.
                    image.src = e.target.result;
                    image.onload = function () {
                        //Determine the Height and Width.
                        var height = this.height;
                        var width = this.width;



                        var output = document.getElementById('output1');
                        output.src = URL.createObjectURL(event.target.files[0]);



                        //alert("Uploaded image has valid Height and Width.");
                        return true;
                    };
                }
            } else {
                //alert("");
                lnv.alert({
                    title: '',
                    content: 'This browser does not support HTML5.',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#img1").focus();
                    }
                });
                $('.alert-btn').focus();
                return false;
            }

        } else {
            // alert("Please select a valid Image file.");
            lnv.alert({
                title: '',
                content: 'Please select a valid Image 2',
                alertBtnText: 'Okay',
                alertHandler: function () {
                    $("#img1").focus();
                }
            });
            $('.alert-btn').focus();
            return false;
        }

    };
</script>
<script>
    var loadFile2 = function(event) {
        var fileUpload2 = $("#img2")[0];

        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png|.gif)$");

        if (regex.test(fileUpload2.value.toLowerCase())) {
            //Check whether HTML5 is supported.
            if (typeof (fileUpload2.files) != "undefined") {
                //Initiate the FileReader object.
                var reader = new FileReader();
                //Read the contents of Image File.
                reader.readAsDataURL(fileUpload2.files[0]);
                reader.onload = function (e) {
                    //Initiate the JavaScript Image object.
                    var image = new Image();
                    //Set the Base64 string return from FileReader as source.
                    image.src = e.target.result;
                    image.onload = function () {
                        //Determine the Height and Width.
                        var height = this.height;
                        var width = this.width;

                        var output = document.getElementById('output2');
                        output.src = URL.createObjectURL(event.target.files[0]);



                        //alert("Uploaded image has valid Height and Width.");
                        return true;
                    };
                }
            } else {
                //alert("");
                lnv.alert({
                    title: '',
                    content: 'This browser does not support HTML5.',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#img2").focus();
                    }
                });
                $('.alert-btn').focus();
                return false;
            }

        } else {
            // alert("Please select a valid Image file.");
            lnv.alert({
                title: '',
                content: 'Please select a valid Image 3',
                alertBtnText: 'Okay',
                alertHandler: function () {
                    $("#img2").focus();
                }
            });
            $('.alert-btn').focus();
            return false;
        }

    };
</script>
<script>
    var loadFile3 = function(event) {

        var fileUpload3 = $("#img3")[0];

        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png|.gif)$");

        if (regex.test(fileUpload3.value.toLowerCase())) {
            //Check whether HTML5 is supported.
            if (typeof (fileUpload3.files) != "undefined") {
                //Initiate the FileReader object.
                var reader = new FileReader();
                //Read the contents of Image File.
                reader.readAsDataURL(fileUpload3.files[0]);
                reader.onload = function (e) {
                    //Initiate the JavaScript Image object.
                    var image = new Image();
                    //Set the Base64 string return from FileReader as source.
                    image.src = e.target.result;
                    image.onload = function () {
                        //Determine the Height and Width.
                        var height = this.height;
                        var width = this.width;


                        var output = document.getElementById('output3');
                        output.src = URL.createObjectURL(event.target.files[0]);



                        //alert("Uploaded image has valid Height and Width.");
                        return true;
                    };
                }
            } else {
                //alert("");
                lnv.alert({
                    title: '',
                    content: 'This browser does not support HTML5.',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#img3").focus();
                    }
                });
                $('.alert-btn').focus();
                return false;
            }

        } else {
            // alert("Please select a valid Image file.");
            lnv.alert({
                title: '',
                content: 'Please select a valid Image 4',
                alertBtnText: 'Okay',
                alertHandler: function () {
                    $("#img3").focus();
                }
            });
            $('.alert-btn').focus();
            return false;
        }

    };
</script>
<script>
    var loadFile4 = function(event) {
        var fileUpload4 = $("#img4")[0];

        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png|.gif)$");

        if (regex.test(fileUpload4.value.toLowerCase())) {
            //Check whether HTML5 is supported.
            if (typeof (fileUpload4.files) != "undefined") {
                //Initiate the FileReader object.
                var reader = new FileReader();
                //Read the contents of Image File.
                reader.readAsDataURL(fileUpload4.files[0]);
                reader.onload = function (e) {
                    //Initiate the JavaScript Image object.
                    var image = new Image();
                    //Set the Base64 string return from FileReader as source.
                    image.src = e.target.result;
                    image.onload = function () {
                        //Determine the Height and Width.
                        var height = this.height;
                        var width = this.width;

                        var output = document.getElementById('output4');
                        output.src = URL.createObjectURL(event.target.files[0]);



                        //alert("Uploaded image has valid Height and Width.");
                        return true;
                    };
                }
            } else {
                //alert("");
                lnv.alert({
                    title: '',
                    content: 'This browser does not support HTML5.',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#img4").focus();
                    }
                });
                $('.alert-btn').focus();
                return false;
            }

        } else {
            // alert("Please select a valid Image file.");
            lnv.alert({
                title: '',
                content: 'Please select a valid Image 5',
                alertBtnText: 'Okay',
                alertHandler: function () {
                    $("#img4").focus();
                }
            });
            $('.alert-btn').focus();
            return false;
        }

    };
</script>
<script>
    var loadFile5 = function(event) {

        var fileUpload5 = $("#img5")[0];

        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png|.gif)$");

        if (regex.test(fileUpload5.value.toLowerCase())) {
            //Check whether HTML5 is supported.
            if (typeof (fileUpload5.files) != "undefined") {
                //Initiate the FileReader object.
                var reader = new FileReader();
                //Read the contents of Image File.
                reader.readAsDataURL(fileUpload5.files[0]);
                reader.onload = function (e) {
                    //Initiate the JavaScript Image object.
                    var image = new Image();
                    //Set the Base64 string return from FileReader as source.
                    image.src = e.target.result;
                    image.onload = function () {
                        //Determine the Height and Width.
                        var height = this.height;
                        var width = this.width;


                        var output = document.getElementById('output5');
                        output.src = URL.createObjectURL(event.target.files[0]);



                        //alert("Uploaded image has valid Height and Width.");
                        return true;
                    };
                }
            } else {
                //alert("");
                lnv.alert({
                    title: '',
                    content: 'This browser does not support HTML5.',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#img5").focus();
                    }
                });
                $('.alert-btn').focus();
                return false;
            }

        } else {
            // alert("Please select a valid Image file.");
            lnv.alert({
                title: '',
                content: 'Please select a valid Image 6',
                alertBtnText: 'Okay',
                alertHandler: function () {
                    $("#img5").focus();
                }
            });
            $('.alert-btn').focus();
            return false;
        }

    };
</script>
<script type="text/javascript">
    $(document).ready(function () {
        UserDetails();
        loadMake();
        loadSpeedtype();
    });

    function loadSpeedtype() {
        // alert("hi");
        try {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                url: '/Admin/LoadSpeedType',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {
                    $('#speedtype').empty();
                    $("#speedtype").append($("<option selected></option>").val("0").html("Select Speedtype"));

                    for (var i = 0; i <= result.speedtypelist.length - 1; i++) {

                        if(result.speedtypelist[i].status == "1"){
                            $("#speedtype").append($("<option></option>").val(result.speedtypelist[i].speedtypeid).html(result.speedtypelist[i].speedtypename));
                        }
                    }
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    // alert("Data Not Found");
                }
            });
        }catch(e){

            console.log(e);
        }
    }

    function UserDetails() {
        var id=@Session["id"].ToString();
        var url = '/Home/UserDetails';
        $.ajax({
            type: "POST",
            url: url ,
            data: "{id: '" + id + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

                for(var i=0;i<=data.UserDetails.length -  1;i++)
                {
                    //alert(data.UserDetails[i].country);
                    loadCurrency(data.UserDetails[i].country);

                }



            }
            // error: OnErrorCall
        });


    }

    function loadMake() {
        try {
            // alert("hi");
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                url: '/Admin/LoadMake',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {
                    for (var i = 0; i <= result.makelist.length -1 ; i++) {
                        if(result.makelist[i].status == "1"){
                            $("#make").append($("<option></option>").val(result.makelist[i].make_id).html(result.makelist[i].make));
                        }}
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    //alert("Data Not Found");
                }
            });
        }catch(e){

            console.log(e);
        }
        //loadModel();
        //loadSeries();
        //loadBadge();
        //loadengineSize();
    }
</script>

<script src="https://cdn.jsdelivr.net/jquery/3.1.0/jquery.min.js"></script>
<script src="@Url.Content("~/Progress/waitMe.js")"></script>
<script>
    $(function(){

        var current_effect = "win8";

        $('#make').click(function(){
            //alert(current_effect);
            run_waitMe($('.mngevnt_contain > div'), 1, current_effect);
        });


        function run_waitMe(el, num, effect){
            text = 'Please wait.';
            fontSize = '';
            switch (num) {
                case 1:
                    maxSize = '';
                    textPos = 'vertical';
                    break;
                case 2:
                    text = '';
                    maxSize = 30;
                    textPos = 'vertical';
                    break;
                case 3:
                    maxSize = 30;
                    textPos = 'horizontal';
                    fontSize = '18px';
                    break;
            }
            console.log(effect)
            el.waitMe({
                effect: effect,
                text: text,
                bg: 'rgba(255,255,255,0.7)',
                color: '#000',
                maxSize: maxSize,
                source: '@Url.Content("~/Progress/img.svg")',
                textPos: textPos,
                fontSize: fontSize,
                onClose: function() {}
            });
        }
    });

</script>
<script type="text/javascript">
    function loadModel() {
        try {
            $body = $("body");
            $body.addClass("loading");


            var make = $('#make option:selected').val();
            //  alert(count_id);
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                data: "{ make: '" + $("#make").val() + "' }",
                url: '/Admin/LoadModel',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {
                    $('#model').empty();
                    $("#model").append($("<option value='0'>Select Model Type</option>"));
                    for (var i = 0; i <= result.modellist.length-1 ; i++) {

                        if(result.modellist[i].status == "1"){
                            $("#model").append($("<option></option>").val(result.modellist[i].model_id).html(result.modellist[i].modeltype));
                        }
                    }

                    if(i == (result.modellist.length-1))
                        $body.removeClass("loading");
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    // alert("Data Not Found");
                }
            });
        }catch(e){

            console.log(e);
        }
        //loadSeries();
        //loadBadge();
        //loadengineSize();
    }
</script>
<script type="text/javascript">
    function loadBadge() {
        try {
            $body = $("body");
            $body.addClass("loading");

            var make = $('#make option:selected').val();
            //  alert(count_id);
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                data: "{ make: '" + $("#make").val() + "',model:'" + $("#model").val() + "' }",
                url: '/Admin/LoadBadge',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {
                    $('#badge').empty();
                    $("#badge").append($("<option value='0'>Select Series</option>"));
                    for (var i = 0; i <= result.badgelist.length -1 ; i++) {
                        if(result.badgelist[i].status == "1"){
                            $("#badge").append($("<option></option>").val(result.badgelist[i].bad_id).html(result.badgelist[i].badge));
                        }
                    }
                    if(i == (result.badgelist.length -1))
                        $body.removeClass("loading");
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    //alert("Data Not Found");
                }
            });
        }catch(e){

            console.log(e);
        }
        //loadSeries();
        //loadengineSize();
    }
</script>

<script type="text/javascript">
    function loadSeries() {
        try {
            $body = $("body");
            $body.addClass("loading");

            var make = $('#make option:selected').val();
            //  alert(count_id);
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                data: "{ make: '" + $("#make").val() + "',model:'" + $("#model").val() + "' ,badge:'" + $("#badge").val() + "' }",
                url: '/Admin/LoadSeries',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {
                    $('#series').empty();
                    $("#series").append($("<option value='0'>Select Badge</option>"));
                    for (var i = 0; i <= result.serieslist.length -1; i++) {
                        if(result.serieslist[i].status == "1"){
                            $("#series").append($("<option></option>").val(result.serieslist[i].ser_id).html(result.serieslist[i].series));
                        }

                    }
                    $body.removeClass("loading");
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    // alert("Data Not Found");
                }
            });
        }catch(e){

            console.log(e);
        }
        //loadengineSize();
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        loadCondition();

    });

    function loadCondition() {
        // alert("hi");
        try {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                url: '/Admin/LoadCondition',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {
                    for (var i = 0; i <= result.conditionlist.length -1 ; i++) {

                        $("#condition").append($("<option></option>").val(result.conditionlist[i].cond_id).html(result.conditionlist[i].condition));
                    }
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    //alert("Data Not Found");
                }
            });
        }catch(e){

            console.log(e);
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        loadCurrency();
        //loadlistedAs();

    });

    function loadCurrency(countid) {
        // alert("hi");
        try {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                url: '/Admin/LoadCurrency',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {
                    //alert("Hello");
                    for (var i = 0; i <= result.currencylist.length -1 ; i++) {

                        //alert("Hi");
                        if(result.currencylist[i].count_id == countid){
                            //alert("display");
                            $("#currency").val(result.currencylist[i].cur_id);
                            $("#currencyname").val(result.currencylist[i].currency);
                        }

                    }
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    //alert("Data Not Found");
                }
            });
        }catch(e){

            console.log(e);
        }
    }

    function loadlistedAs() {
        // alert("hi");
        try {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                url: '/Admin/loadListedAs',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {

                    for (var i = 0; i <= result.listedas.length -1 ; i++) {
                        if(result.listedas[i].status == "1"){
                            $("#list").append($("<option></option>").val(result.listedas[i].listedas_id).html(result.listedas[i].listed_name));
                        }}
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    //alert("Data Not Found");
                }
            });
        }catch(e){

            console.log(e);
        }
    }

</script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#addcartab').attr('class', 'active');
    });

    $(document).ready(function () {
        loadDrive();

    });

    function loadDrive() {
        // alert("hi");
        try {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                url: '/Admin/LoadDriveTrain',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {
                    for (var i = 0; i <= result.drivelist.length; i++) {

                        if(result.drivelist[i].status == "1"){
                            $("#drive").append($("<option></option>").val(result.drivelist[i].drive_id).html(result.drivelist[i].drive));
                        }}
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    //alert("Data Not Found");
                }
            });
        }catch(e){

            console.log(e);
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        loadTrans();

    });

    function loadTrans() {
        // alert("hi");
        try {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                url: '/Admin/LoadTransmission',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {
                    for (var i = 0; i <= result.translist.length -1 ; i++) {

                        $("#trans").append($("<option></option>").val(result.translist[i].trans_id).html(result.translist[i].transmision));
                    }
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    //alert("Data Not Found");
                }
            });
        }catch(e){

            console.log(e);
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        loadMeter();
        loadbodytype();
        loadbodycolor();
        loadinteriorcolor();
        loadinteriormaterial();
        loadCylinder();
        loadFuel();
    });

    function loadMeter() {
        // alert("hi");
        try {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                url: '/Admin/LoadMeter',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {
                    for (var i = 0; i <= result.meterlist.length -1 ; i++) {

                        if(result.meterlist[i].status == "1"){
                            $("#matrics").append($("<option></option>").val(result.meterlist[i].odo_id).html(result.meterlist[i].meter));
                        }}
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    //alert("Data Not Found");
                }
            });
        }catch(e){

            console.log(e);
        }
    }

    function loadbodytype() {
        // alert("hi");
        try {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                url: '/Admin/loadbodytype',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {
                    for (var i = 0; i <= result.bodytypelist.length-1; i++) {
                        if(result.bodytypelist[i].status == "1"){
                            $("#body_type").append($("<option></option>").val(result.bodytypelist[i].bodytype_id).html(result.bodytypelist[i].bodytype_name));
                        }}
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    //alert("Data Not Found");
                }
            });
        }catch(e){

            console.log(e);
        }
    }

    function loadbodycolor() {
        // alert("hi");
        try {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                url: '/Admin/loadbodycolor',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {
                    for (var i = 0; i <= result.bodycolorlist.length - 1; i++) {
                        if(result.bodycolorlist[i].status == "1"){
                            $("#bcolor").append($("<option></option>").val(result.bodycolorlist[i].body_color_id).html(result.bodycolorlist[i].body_color_name));
                        }}
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    //alert("Data Not Found");
                }
            });
        }catch(e){

            console.log(e);
        }
    }

    function loadinteriorcolor() {
        // alert("hi");
        try {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                url: '/Admin/loadinteriorcolor',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {
                    for (var i = 0; i <= result.interiorcolorlist.length - 1; i++) {
                        if(result.interiorcolorlist[i].status == "1"){
                            $("#icolor").append($("<option></option>").val(result.interiorcolorlist[i].Inte_color_id).html(result.interiorcolorlist[i].Inte_color_name));
                        }}
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    //alert("Data Not Found");
                }
            });
        }catch(e){

            console.log(e);
        }
    }

    function loadinteriormaterial() {
        // alert("hi");
        try {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                url: '/Admin/loadinteriormaterial',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {
                    for (var i = 0; i <= result.materiallist.length - 1; i++) {
                        if(result.materiallist[i].status == "1") {
                            $("#material").append($("<option></option>").val(result.materiallist[i].Inte_Mat_id).html(result.materiallist[i].Inte_Mat_name));
                        }}
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    // alert("Data Not Found");
                }
            });
        }catch(e){

            console.log(e);
        }
    }

    function GetTranmissionDetail(id) {
        try {
            $body = $("body");
            $body.addClass("loading");

            //alert(id);

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                data: "{ transid: '" + id + "'}",
                url: '/Admin/GetTranmissionDetail',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {
                    for (var i = 0; i <= result.transdetaillist.length - 1; i++) {

                        $('#speedtype').val(result.transdetaillist[i].speedtype);
                    }

                    $body.removeClass("loading");
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    // alert("Data Not Found");
                }
            });
        }catch(e){

            console.log(e);
        }
    }

    function loadCylinder() {
        try {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                url: '/Admin/GetAllCylinders',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {
                    for (var i = 0; i <= result.cylinderlist.length - 1; i++) {
                        if(result.cylinderlist[i].status == "1"){
                            $("#cylinder").append($("<option></option>").val(result.cylinderlist[i].cylinder_id).html(result.cylinderlist[i].cylinder_name));
                        }}
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    //alert("Data Not Found");
                }
            });
        }catch(e){

            console.log(e);
        }
    }

    function loadFuel() {

        try {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                url: '/Admin/GetAllFuel',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {
                    for (var i = 0; i <= result.fuellist.length - 1; i++) {
                        if(result.fuellist[i].status == "1"){
                            $("#fuel").append($("<option></option>").val(result.fuellist[i].fuel_id).html(result.fuellist[i].fuel_name));
                        }}
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    //alert("Data Not Found");
                }
            });
        }catch(e){
            console.log(e);
        }
    }

    function loadengineSize() {
        try {
            $body = $("body");
            $body.addClass("loading");

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //url is the path of our web method (Page name/function name)
                dataType: "json",
                data: "{ make: '" + $('#make').val() + "',model: '" + $('#model').val() + "',badge: '" + $('#badge').val() + "',series: '" + $('#series').val() + "'}",
                url: '/Admin/LoadEngineSize',
                asyn: false,
                cache: false,
                //called on jquery ajax call success
                success: function (result) {
                    $('#engine').empty();
                    $("#engine").append($("<option></option>").val("").html("Select Engine Size"));

                    for (var i = 0; i <= result.enginesizelist.length - 1; i++) {
                        if(result.enginesizelist[i].status == "1"){
                            $("#engine").append($("<option></option>").val(result.enginesizelist[i].ensize_id).html(result.enginesizelist[i].ensizename));
                        }

                    }
                    $body.removeClass("loading");
                },
                //called on jquery ajax call failure
                error: function ajaxError(result) {
                    $('#engine').empty();
                    $("#engine").append($("<option></option>").val("").html("Select Engine Size"));
                }
            });
        }catch(e){
            console.log(e);
        }
    }
</script>

<style>
    .cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 5px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        /*width: 663px;*/
        width: 850px;
        height: 400px;
    }

    .cropit-preview-image-container {
        cursor: move;
    }

    .cropit-preview-background {
        opacity: .2;
        cursor: auto;
    }

    .image-size-label {
        margin-top: 10px;
    }

    input, .export {
        /* Use relative position to prevent from being covered by image background */
        position: relative;
        z-index: 10;
        display: block;
    }

    button {
        margin-top: 10px;
    }
</style>

<div id="imgcrop_modal" class="modal fade" role="dialog">
    <div class="modal-dialog login_dilog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="login_head">Image Crop <div id="popupclose" class="close">x</div></div>
            </div>
            <div class="modal-body">
                <div class="image-editor">
                    <div id="ImageErrorMessage" class="text-danger hide"> </div>
                    <input type="file" id="fucrop" class="cropit-image-input select-image-btn" accept=".png,.jpg,.jpeg,.gif" />

                    <div class="cropit-preview" id="cropdiv"></div>
                    <div class="image-size-label">
                        Resize image
                    </div>
                    <input type="range" id="croprange" class="cropit-image-zoom-input">
                    <button class="rotate-ccw">Rotate counterclockwise</button>
                    <button class="rotate-cw">Rotate clockwise</button>
                    <button class="export">Submit</button>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $("input:file").change(function () {
            //Get reference of FileUpload.
            var fileUpload = $("#fucrop")[0];

            //Check whether the file is valid Image.
            var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png|.gif)$");
            if (regex.test(fileUpload.value.toLowerCase())) {
                //Check whether HTML5 is supported.
                if (typeof (fileUpload.files) != "undefined") {
                    //Initiate the FileReader object.
                    var reader = new FileReader();
                    //Read the contents of Image File.
                    reader.readAsDataURL(fileUpload.files[0]);
                    reader.onload = function (e) {
                        //Initiate the JavaScript Image object.
                        var image = new Image();
                        //Set the Base64 string return from FileReader as source.
                        image.src = e.target.result;
                        image.onload = function () {
                            //Determine the Height and Width.
                            var height = this.height;
                            var width = this.width;
                            if (height < 600 || width < 1050) {
                                $('#ImageErrorMessage').removeClass("hide").text("Failed to upload Image, should be width 1050px and height 600px.");
                                return false;
                            }
                            $('#ImageErrorMessage').removeClass("hide").text("");
                            return true;
                        };
                    }
                } else {
                    alert("This browser does not support HTML5.");
                    return false;
                }
            } else {
                //alert("Please select a valid Image file.");
                $('#ImageErrorMessage').removeClass("hide").text("Failed to upload Image, the format is not supported.");

                return false;
            }
        });
    });

    $('#popupclose').click(function(){
        $('#imgcrop_modal').modal('hide');
        $('#ImageErrorMessage').removeClass("hide").text("");
    })

    var myBookId;
    $(document).on("click", ".event_upldnew", function () {
        myBookId = $(this).data('id');
    });

    $(function () {
        $('.image-editor').cropit({
            exportZoom: 1.25,
            imageBackground: true,
            imageBackgroundBorderWidth: 20,
            imageState: {
                src: 'http://lorempixel.com/500/400/',
            },
        });

        $('.rotate-cw').click(function () {
            $('.image-editor').cropit('rotateCW');
        });

        $('.rotate-ccw').click(function () {
            $('.image-editor').cropit('rotateCCW');
        });

        $('.export').click(function () {
            var imageData = $('.image-editor').cropit('export');
            document.getElementById('output'+myBookId).src = imageData;
            var data = imageData.replace(/^data:image\/\w+;base64,/, "");
            document.getElementById('hdoutput'+myBookId).value = data;
            $('#imgcrop_modal').modal('hide');
            document.getElementById("fucrop").value = "";
            document.getElementById("croprange").value="";
            $("#cropdiv img").attr("src", "img.png");
        });
    });
</script>