
@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_LayoutOuterUser.cshtml";
}

<div class="col-sm-7">
    <div class="mngevnt_contain">
        <div class="map_contain">
            <div class="detail_head event_head">

                <h4 class="detail_heading">Change Password </h4>
                <div class="top_select">
                    <ul></ul>
                </div>
            </div>
            <div class="describe_contain">
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Old Password</label>
                            <input type="password" class="form-control" placeholder="Old Password" id="oldpassword" required>
                            <label style="color:red;display:none" id="oldpassmsg"> </label> 
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" class="form-control" placeholder="New Password" id="newpassword" required>
                            <label style="color:red;display:none" id="newpassmsg"> </label>
                         </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" placeholder="Confirm Password" id="confirmpassword" required>
                            <label style="color:red;display:none" id="confirmpassmsg"> </label>
                        </div>
                </div>
                    
            </div>
            <div class="map_btn">

                <button class="cmn_btn" onclick="return changepassword();">Change Password</button>

            </div>

        </div>
    </div>
</div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
    $(document).ready(function () {

        $('#settingtab').attr('class', 'active');
    });


    function changepassword(){
    
        try {
            var isvalid = true;
            var oldpass = $('#oldpassword').val();
            var newpass = $('#newpassword').val();
            var confirmpass = $('#confirmpassword').val();

            if (oldpass.trim() == "" || oldpass == null || oldpass == undefined) {

                $('#oldpassmsg').css('display', 'block');
                $('#oldpassmsg').html("Please Enter Old Password")
                isvalid = false;
            } else {
                $('#oldpassmsg').css('display', 'none');
                $('#oldpassmsg').html("");
                isvalid = true;
            }
            if (newpass.trim() == "" || oldpass == null || oldpass == undefined) {
                $('#newpassmsg').css('display', 'block');
                $('#newpassmsg').html("Please Enter New Password");
                
                isvalid = false;

            } else {
                $('#newpassmsg').css('display', 'none');
                $('#newpassmsg').html("");
                isvalid = true;
            }

            if (confirmpass.trim() == "" || confirmpass == null || confirmpass == undefined) {
                $('#confirmpassmsg').css('display', 'block');
                $('#confirmpassmsg').html("Please Enter Confirm Password");

                isvalid = false;
            } else {
                $('#confirmpassmsg').css('display', 'none');
                $('#confirmpassmsg').html("");

                isvalid = true;

                if (newpass != confirmpass) {
                    $('#confirmpassmsg').css('display', 'block');
                    isvalid = false;
                    $('#confirmpassmsg').html("New Password and confirm password should be same.")
                } else {
                    $('#confirmpassmsg').css('display', 'none');
                    $('#confirmpassmsg').html("");
                    isvalid = true;
                }

            }

            if (isvalid == true) {

                var id = '@Session["id"].ToString()';
                var obj = { "id": id ,"oldpass": oldpass ,"newpass": newpass };
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Home/changepassword',
                    // data: "{gender:'"+ gender +"',,gender:'"+ gender +"',country:'"+ country +"',city:'"+ city +"',state:'"+ state +"',street:'"+ street +"',streetname:'"+ streetname +"',other:'"+ other +"',other1:'"+ other1 +"',other2:'"+ other2 +"',zip:'"+ zip +"',cno:'"+ cno +"',regions:'"+ regions +"',suburb:'"+ suburb +"'}",
                    data: JSON.stringify(obj),
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        if (data.status == 'Success') {
                            

                            $('#confirmpassmsg').attr("style", "color:green");
                            $('#confirmpassmsg').html("Your password has been successfully changed");
                            $('#oldpassword').val("");
                            $('#newpassword').val("");
                            $('#confirmpassword').val("");

                        } else {

                            $('#confirmpassmsg').attr("style", "color:red");
                            $('#confirmpassmsg').html(data.status);

                        }
                    }
                });

            }

            return isvalid;
        } catch (e) {

            console.log(e);
        }
    }

</script>

